.MarketReport_Content_Grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 50px;
    max-width: 100%; /* Set a maximum width for the container */
    background-color: #E5EBF1;
    padding: 10px;
    border: 5px solid grey;
  }

  .ChartDiv {
    background-color: #5f84a9;
    display: flex;
    justify-content: center;
  }

  .ChoiceDiv fieldset {
    background-color: #5f84a9;
    color: white;
    border: 2px solid white;
    padding: 10px;
  }

  .ChoiceDiv legend {
    background-color: #5f84a9;
    border: 2px solid transparent white;
    color: white;
    padding: 0 10px;
    margin: 0;
  }

  .CheckBoxDiv {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    max-width: 100%;
    background-color: #5f84a9;
    color: white;
    border: 2px solid white;
  }
  
  .CheckBoxDiv label {
    display: flex;
    align-items: center; /* Center vertically */
    margin-right: 60px; /* Add margin between checkboxes */
  }

  .MarketReportTable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 2px;
  }
  
  .MarketReportTable th,
  .MarketReportTable td {
    border: 2px solid white;
    padding: 2px;
    color: #295b8c;
  }
  
  .MarketReportTable tbody tr:nth-child(even) {
    background-color: #ecf0f5;
  }
  
  .MarketReportTable tbody tr:nth-child(odd) {
    background-color: #d9e2ea;
  }
  
  .MarketReportTable tbody tr:hover:nth-child(even) {
    background-color: #c5d5e6;
  }

  .MarketReportTable tbody tr:hover:nth-child(odd) {
    background-color: #b1c5da;
  }
  
  .MarketReportTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5f84a9;
    color: white;
  }