.MarketReport_Content_Grid-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 50px;
    max-width: 100%; /* Set a maximum width for the container */
    background-color: #2196F3;
    padding: 10px;
    border: 5px solid #6f1515;
  }

  .CheckBoxDiv {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    max-width: 100%;
    background-color: #ddd;
    border: 5px solid #789012;
  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  table, th, td {
    border: 1px solid #ddd;
    padding: 4px
  }