

.FrontPage_Content_Grid-Container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  max-width: 100%; /* Set a maximum width for the container */
  min-height: 100%;
  background-color: #2196F3;
  padding: 10px;
  justify-content: center;
  border: 5px solid #6f1515;
}

.GeneralMarketInfo {
  text-align: center;
  padding-bottom: 10px;
}